body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/fondoClaro2.jpg"); 
}

#wrapper {
    margin: 0px;
    padding: 0px;
    background-repeat: repeat;
    background-size: auto;
  
}

#wrapper a {
    text-decoration: none;
}

#header {
    z-index: 20; /* El más alto... */
    position: sticky;
    display: block;
    height: 60px;    
    top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'subtitulo';
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

#contenido {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

#contenido h4 {
    line-height: 5px;
    margin-bottom: 5px;
}

#imagen {
    height: 200px;
    width: auto;
    background-position: top;
    background-size: cover;
}

#titulo {
    font-family: 'titulo';
    font-size: 40px;
    font-weight: bold;
    line-height: 35px;
}

#footer {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

#footer p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    font-family: 'subtitulo';    
    color: white;
    float: left;  
}

#linkSocial {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

#footerPostitulos {
    background-color: #9A2F52;
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
}

#logoCarena {
    background-color: #9A2F52;
    background-image: url("../img/CarenaFooter.png");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: calc(50% - 20px);
    height: 50px; 
    margin-top: 10px;
    float: left;
    padding-left: 20px;
}

#logoISEP {
    background-color: #9A2F52;
    background-image: url("../img/ISEPFooter.png");
    background-size: contain;
    background-origin: content-box;
    background-position: right;
    background-repeat: no-repeat;
    width: calc(50% - 20px);
    height: 50px; 
    margin-top: 10px;
    float: left;
    padding-right: 20px;
}

@media screen and (min-width: 480px) {
    #header, #footer, #contenido {
        margin-left: 50px;
        margin-right: 50px;        
    }
}

@media screen and (min-width: 1050px) {
    #header, #footer, #contenido {
        width: 1024px;
        margin-left: 10px;
        margin-right: 10px;
    } 
    
    #wrapper {
        width: 1050px;
        margin: auto;
    }
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/geometr706.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('fonts/segoe.ttf') format('truetype');
}
