body {
    margin: 0px;
    padding: 0px;
    background-color: #5D6067;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    background-color: #5D6067;
}

#wrapper a {
    text-decoration: none;
}

#header {
    z-index: 20; /* El más alto... */
    position: sticky;
    display: block;
    height: 200px;    
    top: 0px;
    transition: top 0.3s;
    margin-bottom: -40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/arcos.png");
    background-color: transparent;
}

#contenido {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

#carreras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
}

#postitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo {
    font-family: 'titulo';
    font-size: 40px;
    font-weight: bold;
}

.btnCarrera, .btnPrematricula {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.btnTitulo {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    cursor: pointer;
}

.btnCarrera {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #C6C3B0;
}

.btnPrematricula {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    background-color: transparent;
}

#imagenBoton {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.textoBotonUno {
    margin-left: 10px;
    width: auto;
    display: block;
    float: left;
    text-align: left;
    padding: 0px;
    line-height: 50px;
    font-family: 'titulo';
    font-size: 25px;
    color: #F7E9D5; 
}

.textoDocentes, .textoTecnicos, .textoPrematricula, .textoPostitulos, .textoTitulo {
    margin-left: 10px;
    width: auto;
    height: 50px;
    display: inline-block;
    text-align: left;
}

.textoDocentes {
    color: #087882;    
}

.textoTecnicos {
    color: #563773;    
}

.textoPrematricula {
    color: #F7E9D5;
}

.textoPostitulos {
    color: #9A2F52;
}

.textoTitulo {
    color: #F7E9D5;
}

.textoDocentes h1, .textoTecnicos h1, .textoPrematricula h1, .textoPostitulos h1, .textoTitulo h1 {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-family: 'titulo';
    font-size: 25px;
}

.textoDocentes h2 , .textoTecnicos h2, .textoPrematricula h2, .textoPostitulos h2, .textoTitulo h2 {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-family: 'subtitulo';
    font-size: 20px;
}

.opciones {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-image: url(../img/fondoClaro2.jpg);
}

.footer {
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
}

.footer p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    font-family: 'subtitulo';    
    color: white;
}

#medios {
    width: 180px;
    height: auto;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}

#linkSocial {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

@media screen and (min-width: 320px) {
    .btnCarrera, .btnPrematricula {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #header, #contenido {
        margin-left: 0px;
        margin-right: 0px;        
    }
    
    .footer {
        margin-left: 10px;
        margin-right: 10px;
        height: 80px;
    }
    
    .footer p {
        top: 50%;
        transform: translate(0,50%);
    }
    
    #medios {
        width: 90px;
    }
}

@media screen and (min-width: 375px) {
    #header, .footer, #contenido {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    .footer {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .footer p {
        margin-top: -20px;
        padding-top: 0px;
    }
    
    #medios {
        width: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .btnCarrera, .btnPrematricula {
        min-width: 500px;
        display: inline-block;
    }
    
    #header, #contenido {
        margin-left: 0px;
        margin-right: 0px;
    } 
    
    #header {
        height: 200px;
        width: 100%;
        max-width: 1024px;
        background-image: url('../img/arcos2.png');
        background-size: contain;
        background-position: top;
        margin-left: auto;
        margin-right: auto;
        position: sticky;
        transition: top 0.3s;
    }
    
    .footer {
        width: 1024px;
        margin-top: 20px;
        margin-left: 50%;
        transform: translate(-50%,0);
        display: block;
        position: fixed;
        bottom: -10px;
        height: 50px;
        background-color: black;
    }
    
    #contenido {
        text-align: center;
        height: 100%;
 
    }

    #wrapper {
        margin: auto;
        background-color: black;
    }
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/geometr706.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('fonts/segoe.ttf') format('truetype');
}
