body {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    /*background-repeat: repeat;
    background-size: contain;
    background-image: url("../img/fondo.jpg");*/
    background-color: black;
}

#wrapper a {
    text-decoration: none;
}

#header {
    z-index: 20; /* El más alto... */
    position: sticky;
    display: block;
    height: 300px;    
    top: 0px;
    transition: top 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/arcos.png");
    background-color: transparent;
}

/*#header img {
    width: 350px;
    display: block;
    margin: auto;
}*/

#header h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    padding-top: 195px;
    color: white;
}

#header h2 {
    font-family: "subtitulo";
    font-size: 20px;
    line-height: 5px;
    text-align: center;
    padding-top: 0px;
    color: white;
}

#contenido {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

.titulo {
    font-family: 'titulo';
    font-size: 40px;
    font-weight: bold;
}

.btnCarrera, .btnPrematricula {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.btnCarrera {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1px;
}

.btnPrematricula {
    height: 70px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagenBoton {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

#textoBoton {
    margin-left: 10px;
    width: auto;
    height: 50px;
    display: inline-block;
    text-align: left;
}

#textoBoton h1 {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-family: 'titulo';
    font-size: 28px;
    color: white;    
}

#textoBoton h2 {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-family: 'subtitulo';
    font-size: 20px;
    color: white;
}

.btnCarrera h1, .btnPrematricula h1 {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-family: 'titulo';
    font-size: 30px;
    color: white;
}

.btnCarrera h2, .btnPrematricula h2 {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    font-family: 'subtitulo';
    font-size: 20px;
    color: white;
}

#footer {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    display: block;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: transparent;
}

#footer p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    font-family: 'subtitulo';    
    color: white;
    float: left;
}

#linkSocial {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

@media screen and (min-width: 480px) {
    .btnCarrera, .btnPrematricula {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #header, #footer, #contenido {
        margin-left: 50px;
        margin-right: 50px;        
    }
}

@media screen and (min-width: 1050px) {
    .btnCarrera, .btnPrematricula {
        min-width: 480px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
    }
    
    #header, #footer, #contenido {
        width: 1024px;
        margin-left: 10px;
        margin-right: 10px;
    } 
    
    #contenido {
        padding-left: 20px;
        padding-right: 20px;
    }

    #wrapper {
        width: 1050px;
        margin: auto;
    }
}

@font-face {
    font-family: 'titulo';
    src: url('geometr706.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('segoe.ttf') format('truetype');
}
