body {
    margin: 0px;
    padding: 0px;
    background-color: #5E8937;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    /*background-repeat: repeat;*/
    /*background-size: contain;*/
    background-color: #5E8937;
}

#wrapper a {
    text-decoration: none;
}

#header {
    z-index: 20;
    position: sticky;
    display: block;
    height: 60px;    
    top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'subtitulo';
    color: white;
    text-align: center;
}

#header h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
    display: inline-block;
}

#header h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: 0px;
}

#slider {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.info img {
    width: 100%;
}

.ayuda {
    text-align: left;
    font-family: 'subtitulo';
    /*color: black;*/
    color: white;
    display: block;
    position: absolute;
    width: calc(100% - 40px);
    max-width: 320px;
    background-color: rgba(0,0,0,0.7);
    line-height: 20px;
/*    margin-left: 10px;
    margin-right: 10px;*/
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    left: 50%;
    transform: translate(-50%);
    /*box-shadow: 5px 5px 5px #777777;*/
    border-radius: 10px;
}

.ayuda b {
    color: lightgreen;
}

#numero {
    position: absolute; 
    display: inline-block;
    margin-right: 0px;
    top: -40px; 
    text-align: right; 
    height: 30px; 
    width: calc(100% - 10px);
    line-height: 30px;
    color: rgba(0,0,0,0.3);
    font-size: 50px;
    font-weight: bold;
    font-family: 'titulo';
}


.titulo {
    font-family: 'titulo';
    font-size: 40px;
    font-weight: bold;
}

#contenido {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px; 
}

#footer {
    z-index: 19;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    position: sticky;
    bottom: 0;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

#footer p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    font-family: 'subtitulo'; 
    color: white;
    float: left;
    display: inline-block;
}

#linkSocial {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

@media screen and (min-width: 480px) {
    /*#footer {
        margin-left: 10px;
        margin-right: 10px;
    }*/
}

@media screen and (min-width: 1050px) {
    #header, #footer, #contenido {
        margin-right: 10px;
        width: 1050px;
    } 

    #wrapper {
        width: 1050px;
        margin: auto;
    }
}

@media screen and (orientation: landscape) {
    #footer {
        position: sticky;
    }
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/geometr706.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('fonts/segoe.ttf') format('truetype');
}
