body {
    margin: 0px;
    padding: 0px;
    background-color: #5D6067;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    background-color: #5D6067;
}

#wrapper a {
    text-decoration: none;
}

#header {
    z-index: 20;
    position: sticky;
    display: block;
    height: 60px;    
    top: 0px;
    font-family: 'subtitulo';
    color: white;
    text-align: center;
}

#header h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
    display: inline-block;
}

#header h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: 0px;
}

#mapa {
    display: block;
    width: 100%;
    height: 600px;
/*    margin-top: 0px;
    margin-bottom: 0px;*/
    background-color: white;
}

.titulo {
    font-family: 'titulo';
    font-size: 40px;
    font-weight: bold;
}

#contenido {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
}

#footer {
    z-index: 19;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #5D6067;
}

#footer p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    font-family: 'subtitulo'; 
    color: white;
    float: left;
    display: inline-block;
}

#medios {
    width: 180px;
    height: auto;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

#linkSocial {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: 5px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

@media screen and (min-width: 300px) {
    #header, #contenido, #footer {
        margin-left: 0px;
        margin-right: 0px; 
    }
    
    #footer {
        height: 80px;
    }
    
    #footer p {
        top: 50%;
        transform: translate(0,50%);
        margin-left: 0px;
    }
    
    #medios {
        width: 90px;
    }
}

@media screen and (min-width: 375px) {
    #header, #footer, #contenido {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #footer {
        height: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #footer p {
        margin-top: -20px;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    #medios {
        width: 180px;
        right: 0px;
    }
}

@media screen and (min-width: 768px) {
    
    #footer, #contenido {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #header {
        width: 100%;
    }
    
    #footer {
        margin-top: 20px;
        width: calc(100% - 100px);
        display: block;
    }
    
    #medios {
        right: 0px;
    }

    #wrapper {
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    
    #header, #contenido {
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
    } 
    
    #header {
        width: 100%;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #footer {
        width: 1024px;
        margin-left: 50%;
        transform: translate(-50%,0);
        display: block;
        position: fixed;
        bottom: -10px;
        height: 50px;
    }
    
    #contenido {
        text-align: center;
        height: 100%;
    }

    #wrapper {
        margin: auto;
    }
}

@font-face {
    font-family: 'titulo';
    src: url('fonts/geometr706.ttf') format('truetype');
}

@font-face {
    font-family: 'subtitulo';
    src: url('fonts/segoe.ttf') format('truetype');
}
